**/oldx/**
*.pyc
page_old.py
tests/super_login_old.py
*.tmp.py

super/S_Login/jar.py
super/S_Login/mwclient.pyyy.py
wait_time_errors.bash
super/Login_db/bot1.py
super/Login_db/lite.py
/.claude
.github/workflows/python-publish.yml
scan.py
/newapi/super/cookies
pformat.txt
